button {
  background: white;
  /* border-radius: 2px; */
  border: 1px solid darkblue;
  padding: 2px 12px;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

button:hover {
  background: springgreen;
  color: indigo;
}

.new-btn {
  width: 50%;
  margin: 4px 0px;
  background: rgb(76, 76, 221);
  color: cyan;
  border: none;
}

.fav-btn,
.fav-btn:hover {
  /* background: rgb(19, 51, 20);
  border: 1px solid springgreen; */
  background: rgb(173, 163, 238);
  color: rgb(24, 24, 104);
}

.unfav-btn,
.unfav-btn:hover {
  color: darkblue;
  background: white;
}

.del-btn {
  background: red;
  /* margin: 0px 0px 0px auto; */
}

.save-btn {
  background: springgreen;
}

.cancel-btn {
  background: orangered;
  border: 1px solid orangered;
}

.disable-btn {
  background: darkgray;
  margin: 0px 0px 0px auto;
  cursor: not-allowed;
}

.disable-btn:hover {
  background: gray;
  color: white;
}

.details {
  width: 100%;
}
