button {
  background: white;
  border-radius: 2px;
  border: 1px solid springgreen;
  padding: 2px 12px;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

button:hover {
  background: springgreen;
  color: indigo;
}

.new-btn {
  width: 50%;
  margin: 4px 0px;
  color: springgreen;
  background: rgb(19, 51, 20);
  border: 1px solid springgreen;
}

.fav-btn {
  color: rgb(19, 51, 20);
  background: white;
}

.fav-btn:active {
  color: springgreen;
  background: rgb(19, 51, 20);
  border: 1px solid springgreen;
}

.del-btn {
  background: red;
  /* margin: 0px 0px 0px auto; */
}

.disable-btn {
  background: gray;
  margin: 0px 0px 0px auto;
  cursor: not-allowed;
}

.disable-btn:hover {
  background: gray;
  color: white;
}

.details {
  width: 100%;
}
