@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

* {
  margin: 30;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
  padding: 5px;
  font-family: "Poppins";
  max-width: 1400px;
}

input,
textarea,
select {
  border: 0;
  border-bottom: 1px solid indigo;
  padding: 3px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 8px auto;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 1px solid darkblue;
  height: 20px;
  padding: 0px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

textarea {
  border: 1px solid darkblue;
}

select {
  background: white;
  border: 1px solid darkblue;
}

.ccolor {
  position: relative;
  width: 100%;
  text-align: center;
  border: 1px solid darkblue;
}

div input[type="color"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: cyan;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rebeccapurple;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(11, 79, 204);
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid darkblue;
  background: white;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: rgba(10, 250, 198, 0.589);
  }
}
