.tab-btns {
  display: flex;
  margin-right: 20px;
}

.tab-button {
  border: none;
  cursor: pointer;
  /* padding: 1px 40px; */
  margin: 5px 0px;
  background: whitesmoke;
}

.tab-button:hover {
  background: cyan;
}

.tab-button.active {
  background: darkblue;
  color: cyan;
  border: 1px solid black;
}

.tab {
  padding: 2px;
  min-height: 400px;
}

.tab-select {
  display: none;
  background: darkslateblue;
  color: cyan;
  text-align: center;
  border: 1px solid cyan;
}
